<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <!-- Custom Font Icons CSS-->
    <link rel="stylesheet" href="/css/font.css">
    <title>Document</title>
</head>
<body>
<div class="maincont">
    <div class="headerproducts">
        <header>
            <%- include('../component/nav.ejs') %> 
        </header>
    </div>
    <div class="form-req">
        <div class="RequestForm">
            <h1>Request <span>Book</span></h1>
            <p>Do You Want To Request Book? , Tell Us Now</p>
            <form class="form-post">
                <div class="form-gr">
                    <label for="name">Name</label>
                    <input type="text" name="name" required>
                </div>
                <div class="form-gr">
                    <label for="name">Subject And Book Information</label>
                    <textarea name="subject" id="" cols="30" rows="10" required></textarea>
                </div>
                <input type="submit" value="Send Request" class="req-btn">
            </form>
        </div>
        <div class="request-msg" style="display: none;">
            <div class="msg-conntact">
                <h1 id="msgtype">Done</h1>
                <p id="msgcont">Your Request Has been Sent We will Review Your ,And Email You Later</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="left section">
                <h2>About Us</h2>
                <div class="content">
                    <p>MultiWebPress is a educational blog where we post blogs related to Website Development, Technology, Tips & Hacks and much more creative coding stuff.</p>
                <div class="social">
                    <a href="https://multiwebpress.com"><span class="fa fa-facebook"></span></a>
                    <a href="https://instagram.com/multiwebpress"><span class="fa fa-instagram"></span></a>
                    <a href="https://www.youtube.com/channel/UCvB-4cVzkhvu4TkTy1hs9zA"><span class="fa fa-youtube"></span></a>
                </div>
                </div>
            </div>

            <div class="center section">
                <h2>Contact Us</h2>
                <div class="content">
                    <div class="place">
                        <span class="fa fa-map-marker"></span>
                        <span class="text"> New York, USA</span>
                    </div>
                    <div class="phone">
                        <span class="fa fa-phone"></span>
                        <span class="text"> 0976543210</span>
                    </div>
                    <div class="email">
                        <span class="fa fa-envelope"></span>
                        <span class="text"> Mehsa.com</span>
                    </div>
                </div>
            </div>
            <div class="right section">
                <h2>Subscribe</h2>
                <div class="content">
                    <form action="#">
                        <div class="email">
                            <div class="text">Email*</div>
                        </div>
                        <input type="email" required>
                        <div class="btn">
                            <button type="submit"><SUBSCRIBE></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
        </div>
    </footer>
</div>
</body>
<script>
    const msgdisplay = document.querySelector('.request-msg')
    window.addEventListener('click',()=>{
        msgdisplay.style.display='none'
    })

    const msgtype = document.getElementById('msgtype')
    const msgcont = document.getElementById('msgcont')

    const formpost = document.querySelector('.form-post')
    formpost.addEventListener('submit', async (e)=>{
    e.preventDefault();
    const name = formpost.name.value
    const subject = formpost.subject.value
    const stdinfo = "<%= user._id %>"
    console.log(stdinfo)
    try{
        const res = await fetch('/Request',{
            method: 'POST',
            body : JSON.stringify({name,subject,stdinfo}),
            headers : {'Content-Type':'application/json'}
        })
        const data = await res.json()
        console.log(data)
        if(data.error){
          console.log('error')
          msgdisplay.style.display='flex'
            msgtype.textContent = 'Done'
            msgcont.textContent = data.error
        }
        if (data.Done){
            msgdisplay.style.display='flex'
            msgtype.textContent = 'Done'
            msgcont.textContent = data.Done
        }
    }catch(err){

    }
})
</script>
</html>