<!DOCTYPE html>
<html>
  <head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MAHSA </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Custom Font Icons CSS-->
    <link rel="stylesheet" href="/css/font.css">
    <!-- Google fonts - Muli-->
    <link rel="stylesheet" href="/https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/img/favicon.ico">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <header class="header">   
      <nav class="navbar navbar-expand-lg">
        <div class="search-panel">
          <div class="search-inner d-flex align-items-center justify-content-center">
            <div class="close-btn">Close <i class="fa fa-close"></i></div>
            <form id="searchForm" action="#">
              <div class="form-group">
                <input type="search" name="search" placeholder="What are you searching for...">
                <button type="submit" class="submit">Search</button>
              </div>
            </form>
          </div>
        </div>
        <div class="container-fluid d-flex align-items-center justify-content-between">
          <div class="navbar-header">
            <!-- Navbar Header--><a href="index.html" class="navbar-brand">
              <div class="brand-text brand-big visible text-uppercase"><strong class="text-primary">Dark</strong><strong>Admin</strong></div>
              <div class="brand-text brand-sm"><strong class="text-primary">D</strong><strong>A</strong></div></a>
            <!-- Sidebar Toggle Btn-->
            <button class="sidebar-toggle"><i class="fa fa-long-arrow-left"></i></button>
          </div>
          <div class="right-menu list-inline no-margin-bottom">    
            <!-- Log out               -->
            <div class="list-inline-item logout">                   <a id="logout" href="login.html" class="nav-link">Logout <i class="icon-logout"></i></a></div>
          </div>
        </div>
      </nav>
    </header>
    <div class="d-flex align-items-stretch">
      <!-- Sidebar Navigation-->
      <nav id="sidebar">
        <!-- Sidebar Header-->
        <div class="sidebar-header d-flex align-items-center">
          <div class="avatar"><img src="img/avatar-6.jpg" alt="..." class="img-fluid rounded-circle"></div>
          <div class="title">
            <h1 class="h5">MAHSA</h1>
            <p>Web Designer</p>
          </div>
        </div>
        <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
        <ul class="list-unstyled">
          <li ><a href="admin"> <i class="icon-home"></i>Home </a></li>
          <li><a href="tables_user"> <i class="icon-grid"></i>Student Table </a></li>
          <li><a href="BooksTable"> <i class="icon-grid"></i>Books Tables </a></li>
          <li><a href="Category"> <i class="fa fa-bar-chart"></i>Category</a></li>
          <li><a href="upload"> <i class="icon-padnote"></i>Books Forms</a></li>
          <li><a href="studentform"> <i class="icon-padnote"></i>Create New Users</a></li>
          <li><a href="logout"> <i class="icon-logout"></i>Logout </a></li>
      </nav>
      <!-- Sidebar Navigation end-->
      <div class="page-content">
        <!-- Page Header-->
        <div class="page-header no-margin-bottom">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Basic forms</h2>
          </div>
        </div>
        <!-- Breadcrumb-->
        <div class="container-fluid">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="admin">Home</a></li>
            <li class="breadcrumb-item active">Basic forms            </li>
          </ul>
        </div>
        <section class="no-padding-top">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-10">
                <div class="block">
                  <div class="block-body text-center">
                    <!-- Modal-->
                    <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                      <div role="document" class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Create New Category</strong>
                            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                          </div>
                          <div class="modal-body">
                            <p>Lorem ipsum dolor sit amet consectetur.</p>
                            <form class="edituserform">
                              <div class="form-group">
                                <label>ID</label>
                                <input type="name" placeholder="Category Name" disabled class="form-control" name="id">
                              </div>
                              <div class="form-group">
                                <label>Name</label>
                                <input type="name" placeholder="Category Name" class="form-control" name="username">
                              </div>
                              <div class="form-group">       
                                <button type="button" onclick="save()" class="btn btn-primary">Update Name</button>
                              </div>
                              <div class="form-group">       
                                <button type="button" onclick="Delete()" class="btn btn-primary">Delete</button>
                              </div>
                            </form>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="block">
                  <div class="title"><strong class="d-block">Create New User</strong><span class="d-block">Lorem ipsum dolor sit amet consectetur.</span></div>
                  <div class="block-body">
                    <form class="createproduct">
                      <div class="form-group">       
                        <label class="form-control-label">Name</label>
                        <input type="text" placeholder="Category Name" name="name" class="form-control">
                      </div>
                      <div class="form-group">       
                        <input type="submit" value="Create" class="btn btn-primary">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-lg-10">
                <div class="block margin-bottom-sm">
                  <div class="title"><strong>Basic Table</strong></div>
                  <div class="table-responsive"> 
                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>User Name</th>
                        </tr>
                      </thead>
                      <tbody id="userform">
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
          </div>
        </section>
        <footer class="footer">
          <div class="footer__block block no-margin-bottom">
            <div class="container-fluid text-center">
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- JavaScript files-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <script src="/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="/js/front.js"></script>
  </body>
</html>

<script>

let the_data = []
  const data = async()=> fetch('/categorylist').then((res)=>{
  res.json().then(alldata=>{
      usershow(alldata.cat)
      console.log(alldata.cat)
      the_data =alldata.cat
      }
  )
})
data()

const form_of_edit =document.querySelector('.edituserform')
const userform = document.getElementById('userform')
async function Delete(){
      const id =form_of_edit.id.value 
      console.log(id)
      try{
        const res = await fetch('/category',{
            method: 'DELETE',
            body : JSON.stringify({id}),
            headers : {'Content-Type':'application/json'}
        })
        const data = await res.json()
        console.log(data)
        if(data.error){
          console.log('error')
        }
        if (data.result){
            location.assign('/category')
        }
    }catch(err){

    }
      
    }
    async function save(){
      const id =form_of_edit.id.value 
      const name=form_of_edit.username.value 
      console.log(name,id)
      try{
        const res = await fetch('/category',{
            method: 'PUT',
            body : JSON.stringify({id,name}),
            headers : {'Content-Type':'application/json'}
        })
        const data = await res.json()
        console.log(data)
        if(data.error){
          console.log('error')
        }
        if (data.result){
            location.assign('/admin')
        }
    }catch(err){

    }
    }
async function usershow(all){
  const inneruserdata =all.map((user,key)=>{
    return `
    <tr>
      <th scope="row">${key+1} </th>
        <td>${user.name }</td>
        <td><button onclick="edit('${user._id}')" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Edit</button><td>
      </tr>

    `
  })
  userform.innerHTML=inneruserdata
  }

    function edit(id){
      let the_user = the_data.find(item=>item._id===id)
      form_of_edit.id.value = the_user._id
      form_of_edit.username.value = the_user.name
      console.log(the_user)
    }



      const theform = document.querySelector('.createproduct');
    theform.addEventListener('submit', async (e)=>{
    e.preventDefault();
    const name = theform.name.value
    console.log(name)
    try{
        const res = await fetch('/category',{
            method: 'POST',
            body : JSON.stringify({name}),
            headers : {'Content-Type':'application/json'}
        })
        const data = await res.json()
        console.log(data)
        if (data){
            location.assign('/admin')
        }
    }catch(err){
      
    }
})
</script>