<div class="header" id="head">
  <div class="logo">
    <img src="/img/logo.png" alt="">
      <h2>Mahsa E-Libarary</h2>
  </div>
  <div class="login-nav">
    <% if(user){%>
      <h5><%= user.name %> </h5>
      <a href="logout"><i class="icon-logout"></i></a>
    <%} %> 
  </div>
  <div class="inside" id="mobile">
    <ul class="navbar bar" id="navbar">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="About">About </a>
    </li>
    <li class="nav-item activ">
      <a class="nav-link" href="Request">Request</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="Book">Books</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="contactUs">Contact us</a>
    </li>
    </ul>
  </div>
  <div class="showicon">
    <a href="" id="nav"><i class="fa fa-bars"></i></a>
  </div>
  <div class="inside mobile" id="mobile">
    <ul class="navbar bar" id="navbar">
      <li class="na-item">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="About">About</a>
    </li>
    <li class="nav-item activ">
      <a class="nav-link" href="Request">Request</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="Book">Books </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="contactUs">Contact us</a>
    </li>
    <li class="nav-item">
      </li>
    </ul>
  </div>
</div>

<div class="blackcover"></div>

<script src="/show.js"></script>
